<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      <div class="footer-left">
        &copy; 2019-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title
        %>
      </div>
      <!-- <div class="footer-right">
        <span id="busuanzi_container_site_pv">
          总访问量: <span id="busuanzi_value_site_pv"></span>
        </span>

        <script
          async
          src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
        ></script>
        <span id="busuanzi_container_site_uv">
          总访客: <span id="busuanzi_value_site_uv"></span>
        </span>
      </div> -->
    </div>
    <!-- <div calss="count-span">
      底栏中间的位置插入点：
    </div> -->
  </div>
</footer>
